{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel = "stylesheet" href = "{{ asset('CSS/map.css') }}" />

{% endblock %}

{% block body %}

    <div id = "body-wrap">

        <h1>Carte interactive</h1>

        <div id = "inputs-section">

            <div id = "species" class = "flex-column">

                <label for = "species-input">1 - Sélectionnez l'espèce que vous recherchez</label>

                <div id = "species-input-wrap">

                    <select id = "species-input" name = "species-input">

                        <option disabled selected hidden value = "">Sélectionnez l'espèce</option>

                        {% for bird in birds %}

                            <option value = "{{ bird.race}}">{{ bird.race }}</option>

                        {% endfor %}

                    </select>

                </div>

            </div>

            <div id = "locality" class = "flex-column">

                <label for = "locality-input">2 - Renseignez une localité (facultatif)</label>

                <div id = "locality-input-wrap" class = "flex-row">

                    <input type = "text" id = "locality-input" name = "locality-input" placeholder = "Renseignez une localité" />
                    <button id = "locality-button" class = "btn btn-primary">Valider</button>

                </div>

            </div>

        </div>

        <div id = "observations-section">

            <label>3 - Parcourez les observations sur la carte OU parcourez les observations dans la liste</label>

            <div id = map-wrap>

                <div id = "map"></div>

            </div>

            <div id = "observations-list">

              <p>Ici se trouvera la tableau des observations</p>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDUOd3W4MWdq1AcYmYab9IHuPuFm9bbzE4&callback=initMap" async defer></script>
<script src = "{{ asset('JS/map.js') }}"></script>
<script>

/*          select AJAX callback          */

    $('#species-input').on('change', function() {

        var selectedValue = $('#species-input option:selected').val();

        $.ajax({

            type: 'POST',
            url: '{{ path("race_select") }}',
            data: {

                race: selectedValue,

            },

            success: function(response) {

                var observations = response.observations;

                for(i = 0; i < observations.length; i++) {

                    alert(observations[i]);

                }

            }

        });

    });

</script>

{% endblock %}
